<script type="text/x-handlebars-template" id="handlebars-template">
  <table>
    <tr>
      <th>name</th>
      <th>sentence</th>
      <th>time</th>
      <th>wpm</th>
    </tr>

    {{#each finishers}}
    <tr>
      <td class="username">{{username}}</td>
      <td class="sentence">{{sentence}}</td>
      <td class="time">{{time}}</td>
      <td class="wpm">wpm???</td>
    </tr>
    {{/each}}

  </table>
</script>
