
<header>
  <h1>typist</h1>
  <nav>
    <a href="#">race/lobby</a>
    <a href="#">profile</a>
    <a href="#">high scores</a>
    <a href="#">logout</a>
  </nav>
  <input id="text-box"></input>
</header>
