<header>
  <input type="text" id="search" placeholder="filter">
  <div id="race-clock">00:00:00</div>
  <h1>typedriver</h1>
  <nav>
    <ul>
      <li><a href="/">race!</a></li>
      <li><a href="/profile">profile</a></li>
      <li><a href="/stats">leaderboard</a></li>
      <li>
        <form id="logout">
        <input type="submit" value="Logout" name="logout">
        </form>
      </li>
    </ul>
  </nav>
  <div id="header-border"></div>
</header>
