<meta charset="utf-8">
<title>typedriver</title>
<link rel="stylesheet" href="/css/normalize.css">
<link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/styles.css">
<script type="text/x-handlebars-template" id="stats">

</script>
