<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>typist</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <header>
      <h1>typist</h1>
      <input id="text-box"></input>
    </header>
    <div id="container">
      <div id="race-track"></div>
    </div>

  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
