<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>typist</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="modal">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Log In</h4>
          <form id="login">
         <input type="text" name="username" placeholder="Username">
         <input type="text" name="password" placeholder="Password">
         <br>
         <input type="submit" name="submit" value="Submit">

         <h4 class="signupText">Sign Up</h4>
          </form>
          <form id="signup">
         <input type="text" name="username" placeholder="Username">
         <input type="text" name="password" placeholder="Password">
         <br>
         <input type="submit" name="submit" value="Submit">
          </form>
          </div>
        </div>
    </div>
    <header>
      <h1>typist</h1>
      <input id="text-box"></input>
    </header>
    <div id="sentence">i am a default sentence.  you will only win if you type me in correctly.  EXACTLY correctly.  EXACTOMUNDO.  NO MISTAKES.  BLDKjdkjlJF.</div>
    <div id="container">
      <div id="race-track"></div>
    </div>

  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <script src="/js/login.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
