<!DOCTYPE html>
<html>

  <head>
    <% include ./partials/head %>
  </head>
  
  <body>

  <% include ./partials/modal %>

    <% include ./partials/header %>

    <div id="status-container">
      <ul id="status">
        <li>waiting for more players</li>
      </ul>
      <input type="text" id="chat"></input>
    </div>

    <div class="container">
    <input id="text-box" placeholder="start typing here! do it fast!"></input>
    <div id="sentence">type the sentence that appears here as fast as you can.  also do it accurately.</div>
    <div id="container">
      <div id="race-track-container">
        <a href="#" id="ready">ready?</a>
        <div id="race-track"></div>
        <div id="finish-line"></div>
      </div>
    </div>
    <div id="timer"></div>
  </div>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <script src="/js/login.js" charset="utf-8"></script>
  <script src="/js/game.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
