<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>typist</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>

    <header>
      <h1>typist</h1>
      <div id="login-container">
        <div class="form-container">
        <h5>sign up</h5>
        <form id="signup">
          <input id="username" placeholder="username"></input>
          <input id="password" placeholder="password"></input>
          <input type="submit">
        </form>
        </div>
        <div class="form-container">
          <h5>log in</h5>
          <form id="login">
            <input id="username" placeholder="username"></input>
            <input id="password" placeholder="password"></input>
            <input type="submit">
          </form>
        </div>
      </div>
      <input id="text-box"></input>
    </header>
    <div id="sentence">i am a default sentence.  you will only win if you type me in correctly.  EXACTLY correctly.  EXACTOMUNDO.  NO MISTAKES.  BLDKjdkjlJF.</div>
    <div id="container">
      <div id="race-track"></div>
    </div>

  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/js/login.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
