<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>typist</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="modal">
      <div class="modal-content">
        <div class="modal-body">
          <h4>Log In</h4>
          <form id="login">
         <input type="text" name="username" placeholder="Username">
         <input type="text" name="password" placeholder="Password">
         <br>
         <input type="submit" name="submit" value="Submit">

         <h4 class="signupText">Sign Up</h4>
          </form>
          <form id="signup">
         <input type="text" name="username" placeholder="Username">
         <input type="text" name="password" placeholder="Password">
         <br>
         <input type="submit" name="submit" value="Submit">
          </form>
          </div>
        </div>
    </div>
    <% include ./partials/header %>
    <div id="sentence">type the sentence here is fast as you can.  also do it accurately.</div>
    <div id="container">
      <div id="race-clock">00:00:00</div>
      <div id="race-track-container">
        <div id="race-track"></div>
        <div id="finish-line"></div>
      </div>
      <ul id="status">
        <li>waiting for more players</li>
      </ul>
    </div>
    <div id="timer"></div>

  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
  <script src="/js/login.js" charset="utf-8"></script>
  <script src="/js/game.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
  </body>
</html>
