<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
    <% include ./partials/profile_handlebars %>
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href='/css/profile.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% include ./partials/header %>

    <div class="container">
      <div id="profile-container"></div>

      <div>what's your favorite color????
      <form id="color-form">
        <input type="color" id="color">
        <input type="submit" id="submit">
      </form>
      </div>
      <div id="delete-sequence">do you hate typing?? <a href="#" class="delete">delete</a> your profile then, jerk</div>
      <div id="delete-sequence-2"> <a href="#" class="delete-2">because typing is boring</a> <a href="#" class="delete-3">because i am boring</a></div>
      <div id="delete-sequence-3">
        <form id="delete-form">
          <input type="password">
          <input type="submit" class="delete-submit">
        </form>
      </div>


    </div>


    <script src="/js/handlebars-v4.0.5.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
    <script src="/js/login.js" charset="utf-8"></script>
    <script src="/js/profile.js" charset="utf-8"></script>
  </body>
</html>
