<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <% include ./partials/header %>
    <div id="stats-form"> <!-- making this for now to hold stats -->
      <div id="individual-player"> <!-- going to be a jQuery function to render the stats onto it so I'm just making it for reference -->
        <ul id="player-stat">
          <li>
            <!-- userId goes here-->
          </li>
          <li>
            <!-- raceId goes here-->
          </li>
          <li>
            <!-- sentence goes here-->
          </li>
          <li>
            <!-- time goes here-->
          </li>
        </ul>
      </div>

    </div>
  </body>
</html>
