#race-clock{
  display: none;
}

th:hover{
  cursor: pointer;
}

#search{
  position: absolute;
  display: inline-block;
  left: .5em;
  top: .7em;
  width: 10em;
  font-size: 1em;
  height: 1.5em;
  border: none;
  margin: 0;
}
