body{
  background-color: #677077;
  margin: 0;
  font-family: 'Righteous', serif;
  /*min-width: 1000px;*/
}

/* -----------------------  header stuff ----------------------- */
header{
  text-align: center;
  font-size: 1.5em;
}

nav{
  position: absolute;
  top: .5em;
  right: 1em;
}
#logout input{
  color: snow;
  background-color: black;
  border: 1px solid snow;;
}

#logout input:hover{
  background-color: darkred;
}

nav *{
  margin-left: .5em;
}
nav ul {
    list-style: none outside none;
    display: block;
    margin-bottom: 0;
}
nav li {
    display: inline-block;
}

nav li:last-child{
}

nav a{
  color: snow;
  text-decoration: none;
}

nav a:hover{
  color: dodgerblue;
}

input{
  width: 100%;
  color: black;
  font-size: 2em;
  border: none;
  border-radius: .1em;
  padding-left: .1em;
}

header{
  background-color: firebrick;
  color: snow;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1{
  margin-bottom: .2em;
}

ul{
  list-style: none;
  padding: 0;
}

#header-border{
  height: 40px;
  width: 100%;
  background-image: url('../images/check.png');
}

#race-clock{
  position: absolute;
  color: snow;
  left: .5em;
  font-size: 2em;
}


/* ----------------------- log in modal ----------------------- */
#modal {
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal-body {
  position: absolute;
  width: 100%;
  top: 40px;
  background-color: rgb(220,220,220);
  padding-bottom: 100%;
}

#login-title {
  margin-top: 30px;
}

#login,#signup {
  width: 20%;
  margin: 20px auto 0;
}

.signupText {
  margin-top: 40px;
}

/* ----------------------- race track area ----------------------- */
.main-container{
  display: inline-block;
  margin-top: 1em;
  width: 78%;
  min-width: 600px;
  min-height: 400px;
  vertical-align: top;
}

#text-box{
  border: 2px solid black;
  border-radius: .2em;
}

#sentence{
  font-size: 2em;
}

#ready{
  font-size: 6em;
  color: firebrick;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

/* ----------------------- race car! ----------------------- */

.player{
  position: relative;
  display: block;
  height: 20px;
  width: 40px;
  background-image: url("../images/racecar.png");
}

.username{
  color: black;
  padding-left: 40px;
}

/* ----------------------- race track! ----------------------- */

#race-track-container{
  display: inline-block;
  width: 100%;
}

#race-track{
  position: relative;
  display: inline-block;
  width: 90%;
  margin: 0;
  text-align: left;
}

#finish-line{
  display: inline-block;
  background-image: url('../images/check.png');
  width: 40px;
}

#race-results{
  width: 40%;
  margin: 0 auto;
}

#again{
  font-size: 4em;
  color: firebrick;
}

a#again{
  text-decoration: none;
}

/* ----------------------- chat window ----------------------- */

#chat-container{
  display: inline-block;
  margin-top: 1em;
  margin-left: 1em;
  text-align: left;
  width: 18%;
}

#chat-window{
  border: 2px solid black;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  background-color: #c9c9c9;
  min-height: 400px;
  max-height: 500px;
  overflow: scroll;
  margin-bottom: 0;
}

#chat-input{
  bottom: 0;
  width: 100%;
  font-size: 1em;
  height: 1.5em;
  border: 2px solid black;
}

#chat-window li:nth-child(even){
  color: dodgerblue;
  margin: 0;
}

#chat-window li:nth-child(odd){
  color: firebrick;
  margin: 0;
}

#timer{
  position: fixed;
  margin-top: -150px;
  font-size: 100vh;
  width: 100%;
  top: 0;
  z-index: 100;
  text-align: center;
}



#status li{
  margin: 0;
}

.message{
  margin: 0;
}

/* ----------------------- search bar hidden on every page except stats ----------------------- */
.stats-filter{
  display: none;
}
